.paws-logo {
  height: 40px;
  margin: 0;
  color: #fff;
}

.cart-icon {
  font-size: 1.7rem;
  cursor: pointer;
  color: #a6a6a6
}
.cart-icon:hover {
  color: #CCCECF;
}

.default-background, .about-background {
  height: 94.8vh;
  background-size: cover;
  background-position: center;
}
.about-background {
  height: 80vh;
  color: #f2f2f2;
}
.hero-title {
  padding-top: 130px;
  font-weight: 100;
  font-size: 5rem;
}

.title-page {
  margin-top: 70px;
  font-weight: 100;
  font-size: 4rem;
}

.footer {
  background: #916F42;
  color:  #CCCECF;
}

.btn-settings {
  border: 1px solid #212529;
}
.btn-settings:hover {
  background:#212529;
  color: #feeacd;
}

@media only screen and (max-width: 767px) {
  .hero-title {
    padding-top: 70px;
    font-weight: 100;
    font-size: 2rem;
  }
  .title-page {
    font-weight: 100;
    font-size: 2rem;
  }
}

.menu {
  background:#feeacd;
}