.paws-logo {
  height: 40px;
  margin: 0;
  color: #fff;
}

.cart-icon {
  font-size: 1.7rem;
  cursor: pointer;
  color: #a6a6a6
}
.cart-icon:hover {
  color: #CCCECF;
}

.default-background {
  height: 94.8vh;
  background-size: cover;
  background-position: center;
}

.hero-title {
  padding-top: 130px;
  font-weight: 100;
  font-size: 5rem;
}

.title-page {
  margin-top: 70px;
  font-weight: 100;
  font-size: 4rem;
}

@media only screen and (max-width: 767px) {
  .hero-title {
    padding-top: 70px;
    font-weight: 100;
    font-size: 2rem;
  }
  .title-page {
    padding-top: 70px;
    font-weight: 100;
    font-size: 2rem;
  }
}